<div class="all">

  <div class="container-fluid">

    <div class="left">
      <div class="leftHead">
        <label class="name">JACKIE RASIE</label>
      </div>

    <div class="midDiv">
      <ul class="lists">
        <li>Today</li>
        <li>Future</li>
        <li>Completed</li>
      </ul>
    </div>

    <div class="btnDiv">
      <button class="logout">Log Out</button>
    </div>
    </div>

    <div class="right">
      <div class="rightHead">
          <label class="today">TODAY</label>
          <button class="add" data-toggle="modal" data-target="#staticBackdrop" >Add Task</button>
      </div>
      <div class="main">
        
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" aria-label="Radio button for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>



      </div>

    </div>
    
  </div>

  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add A Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="saveData" (ngSubmit)="onSubmit(saveData)">

        <div class="modal-body">  
          <label class="taskHead">TASK</label><br>
          <input class="titHead" formControlName="name" type="text" placeholder="Title">
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>